@model IEnumerable<CustomerPortalMVC.Models.MutualFundDetail>

@{
    ViewData["Title"] = "ViewMutualFundDetails";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<style>
    hr {
        height: 1px;
        background-color: white;
        border: none;
    }
</style>

<div class="container">
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4" >
            <div class="btn-group" id="myDIV">
                <a class="btn btn-outline-primary" href="/Customer/ViewStockDetails">Stocks</a>
                <a class="btn btn-outline-primary active" href="/Customer/ViewMutualFundDetails">Mutual Funds</a>
                <a class="btn btn-outline-primary" href="/Customer/ViewNetWorth">NetWorth</a>
            </div>
        </div>
    </div>
</div>

<center>
    <div class="col-md-4">
        <br /><h2 class="text-success">Mutual Fund Details</h2><hr /><br />
    </div>
</center>

<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.MutualFundName)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.MutualFundCount)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.MutualFundName)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.MutualFundCount)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("Sell", "SellMutualFund", "Customer", new { id = item.TMutualId }, new { @class = "btn btn-success", onclick = "return confirm('Are u sure to sell this Mutual Fund')" })

            </td>
        </tr>
}
    </tbody>
</table>
