@model IEnumerable<CustomerPortalMVC.Models.DailyMutualFundNav>

@{
    ViewData["Title"] = "ViewAdminMutualFundDetails";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
     <style>
    hr {
        height: 1px;
        background-color: white;
        border: none;
    }
</style>

<center>
    <div class="col-md-4">
        <br /><h2 class="text-success">Available MutualFunds</h2><hr /><br />
    </div>
</center>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.MutualFundId)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.MutualFundName)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.MutualFundValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.MutualFundId)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.MutualFundName)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.MutualFundValue)
            </td>
            <td>
                <a class="btn btn-primary" onclick="funstocks()">Buy</a>

            </td>
        </tr>
}
    </tbody>
</table>
